.todoListItem{
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: space-around;
  input:not([type="checkbox"]){
    border: none;
    background-color: #ECE7B4;
    border-radius: 35px;
    width: 280px;
    &.done{
      background-color: #cfcfcf;
      text-decoration: line-through; 
    }
  }
  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"]+ label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #32502E;
    border-radius: 35px;
    position: relative;
  }
  input[type="checkbox"]:checked + label::after{
    content:' ';
    width: 10px;
    height: 10px;
    border-radius: 35px;
    text-align: center;
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #32502E;
  }
  .btn{
    padding: 6px 8px;
    font-size: 14px;
    height: fit-content;
    &.light{
      background-color: #ECE7B4;
      color: #32502E;
      font-weight: bold;
      border: 1px solid #d3d3d3;
    }
    &.isShow{
      visibility: show;
    }
    &.isHide {
      display: none;
    }
  }
}